@font-face {
  font-family: 'JFFlat';
  src: url('../fonts/JF-Flat-regular.ttf') format('truetype');
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
.btn,
.label {
  font-family: 'JFFlat', sans-serif;
}
body {
  padding-top: 65px;
  font-family: 'JFFlat', sans-serif;
  font-size: 15px;
  /*font-weight: 500;*/
}
.logo {
  width: 185px;
  height: 42px;
}
.padding-top-5 {
  padding-top: 5px;
}
.dropdown-menu {
  left: 0;
  right: auto;
}
.panel-title {
  font-size: 20px;
  padding-top: 3px;
}
.no-padding {
  padding: 0px;
}
.entries {
  padding-top: 15px;
}
.entries-pagination {
  margin-bottom: -20px;
  margin-top: -15px;
}
.table-responsive {
  margin-bottom: -20px;
}
.margin-top-20 {
  margin-top: 20px;
}
.ladda-button[data-style='zoom-in'][data-loading] .ladda-spinner {
  margin-left: -26px;
}
.checkbox label:after,
.radio label:after {
  content: '';
  display: table;
  clear: both;
}

.checkbox .cr,
.radio .cr {
  position: relative;
  display: inline-block;
  border: 1px solid #a9a9a9;
  border-radius: 0.25em;
  width: 1.3em;
  height: 1.3em;
  float: left;
  margin-right: 0.5em;
}

.radio .cr {
  border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
  position: absolute;
  font-size: 0.8em;
  line-height: 0;
  top: 50%;
  left: 20%;
}

.radio .cr .cr-icon {
  margin-left: 0.04em;
}

.checkbox label input[type='checkbox'],
.radio label input[type='radio'] {
  display: none;
}

.checkbox label input[type='checkbox'] + .cr > .cr-icon,
.radio label input[type='radio'] + .cr > .cr-icon {
  transform: scale(3) rotateZ(-20deg);
  opacity: 0;
  transition: all 0.3s ease-in;
}

.checkbox label input[type='checkbox']:checked + .cr > .cr-icon,
.radio label input[type='radio']:checked + .cr > .cr-icon {
  transform: scale(1) rotateZ(0deg);
  opacity: 1;
}

.checkbox label input[type='checkbox']:disabled + .cr,
.radio label input[type='radio']:disabled + .cr {
  opacity: 0.5;
}
.placeholder-center::-webkit-input-placeholder {
  text-align: center;
}

.placeholder-center:-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
}

.placeholder-center::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
}

.placeholder-center:-ms-input-placeholder {
  text-align: center;
}

.datepicker table td,
.datepicker table th,
.datetimepicker table td,
.datetimepicker table th {
  font-family: 'JFFlat', sans-serif !important;
  font-size: 12px;
}
.datepicker.dropdown-menu {
  width: 400px;
  height: 270px;
  button {
    outline: none;
    border: 0px;
  }
  tbody {
    height: 180px;
  }
  tbody button {
    padding: 6px;
  }
  &.datepicker-mode-1,
  &.datepicker-mode-2 {
    tbody button {
      height: 65px;
    }
  }
}
.fade {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  opacity: 1;
}
.fade.ng-enter,
.fade.ng-leave {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.fade.ng-enter {
  opacity: 0;
}
.fade.ng-enter-active {
  opacity: 1;
}
.fade.ng-leave {
  opacity: 1;
}
.fade.ng-leave-active {
  opacity: 0;
}
.aside {
  width: 30%;
}
